%div
  You have selected 
  %b
    '#{@browser_type.capitalize}'.
  %br/
  You can download the sample #{@browser_type.downcase} extension
  %a#sample-extension
    here
  and check Readme file for add/installation process.
  %input{:type => "hidden", :id => "browser_type", :value => "#{@browser_type.downcase}"}
  %br/
  If you want to modify the existing extension with your code, please write your code in the following editor and click Generate button.

%div#empty
  &nbsp;
%div#user_code_area
  %b Enter/Copy your code here:
  %div#user_editor
    %textarea.tinymce{:name => "user-code", :id => "user-code", :style => "width: 700px; height: 400px;"}
  %br/
  #button
    %input.btn-large{:type => "button", :value => 'Cancel', :id => "cancel_extn"}
    %input.btn-large{:type => "button", :value => 'Generate Extension', :id => "extn"}
%div{:style => "display:none;"}
= tinymce